#wrapper { z-index: 1000; } /* so poetry popup shows on top */

/* AI */
.has-ai .prompt, .standout {
	background-color: var(--cnvs-themecolor, #bbb2f2)!important;
	color: #fff;
	font-size: 120% !important;
}

.has-ai .content-wrap section:first-of-type .content-box:first-of-type { background-color: #ffffea; }
.has-ai .content-wrap section:first-of-type .content-box:first-of-type h1 { font-size: 16px; margin-bottom: 5px; }
.has-ai .content-wrap section:first-of-type .content-box:first-of-type a:not(.send-icon)::before { content: '** Ignore this link --> '; }

.has-ai .aiv2 blockquote:first-of-type { font-size: 85%; padding: 6px; user-select: none; }
.has-ai .aiv2 blockquote:first-of-type::before { content: 'When: '; display: inline; }
.has-ai .prompt.aiv2 blockquote:first-of-type { background-color: #7fc1ff; }
.has-ai .response.aiv2 blockquote:first-of-type { background-color: aliceblue; }

section.has-ai h1 { display: none; }
.articles-codesnippet > *, section.has-ai h2 { font-size: 14px; }
.articles-codesnippet blockquote { font-size: 16px; }
.articles div.large-list, .articles .large-list li { font-size: 100%!important; }

.prompt-button, .right-button {
	font-weight: bold;
	font-size: 125%;
	background-color: whitesmoke;
	color: #666;
	padding: 8px;
	border: cadetblue solid 2px;
	border-radius: 5px;
	float: right;
}

thead th, thead td { background-color: #fcfcc8!important; }

.articles-codesnippet h2 { margin: 5px 0 10px 0px; font-size: 120%; }
